:root{
    --PlayFair:'PlayFair Display', Serif;
    --Quicksand:'QuickSand', Sans-Serif;
    --Roboto:'Roboto', Sans-Serif;
    --dark:#3c393d;
    --exdark:#2d2d2d;

}


*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}


boby{
    line-height: 100%;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
    

}

header{
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(img/banner-bg.jpg)center/cover no-repeat fixed;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
}
.navbar-brand{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    align-items: center;
    font-family: var(--PlayFair);
    letter-spacing: 1px;
    text-decoration: none;
}

.navbar-nav{
    text-align: center;
    padding: 0.8rem 0 0.2rem 0;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    
}
.navbar-nav a:hover{
    opacity: 0.7;
    
}

.Banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
    font-family: var(--PlayFair);
    line-height: 1.2;
}

.banner-title span{
    font-family: var(--PlayFair);
    color: var(--exdark);
}

.Banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
}
.Banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}

.search-input::placeholder{
    text-transform: capitalize;
}

.search-btn{
    width: 50px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}





















/*Design */
.design{
    padding: 4.5rem 0;
    width: 100%;
}

.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: var(--PlayFair);
    font-size: 2.4rem;
}

.title p{
    text-transform: uppercase;
    padding: 0.6rem;

}

.design-content{
    margin: 2rem 0;
}

.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
    
    left: 10px;
}
.design-img{
    position: relative;
    overflow: hidden;
}

.design-img::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.design-img img{
    transition: all 0.5s ease;
}

.design-item:hover img{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exdark);
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-item span:last-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-tittle{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    
}

.design-tittle a{
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--PlayFair);
}
/*  Fim Design */



.blog{
    background: #f9f9f9;
    padding: 4.5rem 0;
}
.blog-content{
    margin: 2rem 0;
}
.blog-img{
    position: relative;
}
.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exdark);
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}

.blog-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}

.about-content{
    display: none;
}
.about-content h2{
    
    font-family: var(--PlayFair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}

.about-content p{
  
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.9;
  padding-bottom: 1.2rem;
}

.blog-text a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    background: var(--dark);
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.55 ease;
}




footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    padding: 20px; /* Espaçamento interno */
    position: relative; /* Pode ser útil para ajustar a posição */
    bottom: 0; /* Posiciona o rodapé na parte inferior da página */
    width: 100%; /* Faz o rodapé ocupar toda a largura da página */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar o rodapé */
}

footer p {
    margin: 0; /* Remove a margem padrão do parágrafo */
}

footer nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
}

footer nav ul li {
    display: inline; /* Exibe os itens da lista em linha */
    margin: 0 10px; /* Espaçamento horizontal entre os itens */
}

footer nav ul li a {
    color: #fff; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
}

footer nav ul li a:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}


@media screen and(min-width:540px){
    .navbar-nav a{

        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
     .banner-title{
        font-size: 5rem;
     }
    .Banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
}